// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner2{
  position:absolute;
  margin-left:160px;
}

.caminante2 {
  position:absolute;
  margin-left:900px;
  margin-top:300px;
  height:150px;
}
.caminante {
  position:absolute;
  margin-left:400px;
  margin-top:300px;
  height:150px;
}
.caminante1 {
  position:absolute;
  margin-left:300px;
  margin-top:300px;
  height:150px;
}
.dialogo {
  position:absolute;
  margin-left:200px;
  margin-top:50px;
}
.dialogo2 {
  position:absolute;
  margin-left:700px;
  margin-top:90px;
}
.botella{
  position:absolute;
  margin-left:350px;
  margin-top:450px;
}
.caneca {
  position:absolute;
  margin-left:850px;
  margin-top:350px;
  height:70px;
}
.camion1 {
  position:absolute;
  margin-left:700px;
  margin-top:400px;
  height:100px;
}
.container-fluid {
 margin-top:500px;
 height:100px;
 display: flex;
}

.nav-item {
    margin-left:850px;
    padding-inline-start: 40px;
}

.autor {
  height:50px;
  color:#36454F;
  text-align: center;
}
.reporta {
  margin-left:200px;
}
.reportal {
  margin-left:200px;
  height:60px;
  margin-top:10px;
}
.cultura {
 margin-left:50px;
}
.cultural{
  margin-left:50px;
  height:60px;
  margin-top:10px;
}
.ruta {
margin-left:150px;
}
.rutal {
margin-left:150px;
margin-top:8px;
}
.beneficio {
margin-left:280px;
}
.beneficiol {
margin-left:280px;
height:60px;
margin-top:10px;
}
.aliados{
margin-left:300px;
}
.aliadosl{
margin-left:300px;
margin-top:8px;
}
